<!DOCTYPE html>

<html>
    <head>
        <title>DNDGen</title>

        <script src="~/Scripts/jQuery/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script> 
        <script src="~/Scripts/Angular/angular.min.js"></script>
        <script src="~/Scripts/Angular/angular-animate.min.js"></script>
        @RenderSection("Scripts", false)

        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/layout.css">
        @RenderSection("Styles", false)

        <link rel="shortcut icon" href="http://theonlysheet.com/community/images/smilies/d20.png">
    </head>
<body @RenderSection("ngApp", false) class="full-body">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQWX6W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NQWX6W');
    </script>
    <!-- End Google Tag Manager -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/">DNDGen</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a id="diceLink" href="~/Dice">D20 Dice</a></li>
                <li><a id="equipmentLink" href="~/Equipment">EquipmentGen</a></li>
                <li><a id="characterLink" href="~/Character">NPCGen</a></li>
                <li><a id="dungeonLink" href="~/Dungeon">DungeonGen</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="githubDropdownMenuLink" href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="githubUserLink" href="https://github.com/cidthecoatrack">Karl M. Speer</a></li>
                        <li class="divider"></li>
                        <li><a id="githubDiceLink" href="https://github.com/cidthecoatrack/D20-Dice">D20 Dice</a></li>
                        <li><a id="githubEquipmentLink" href="https://github.com/cidthecoatrack/EquipmentGen">EquipmentGen</a></li>
                        <li><a id="githubCharacterLink" href="https://github.com/cidthecoatrack/NPCGen">NPCGen</a></li>
                        <li><a id="githubDungeonLink" href="https://github.com/cidthecoatrack/DungeonMaker">DungeonGen</a></li>
                        <li><a id="githubSiteLink" href="https://github.com/cidthecoatrack/DNDGenSite">DNDGen</a></li>
                    </ul>
                </li>
                <li><a id="officialDndLink" href="http://dnd.wizards.com/">Official D&D Site</a></li>
            </ul>
        </div>
    </nav>
    <div class="body-content container">
        @RenderBody()
    </div>
</body>
@RenderSection("PostBodyScripts", false)
</html>