<!DOCTYPE html>

<html>
<head>
    <title>DnDGen</title>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/angular.js/angular.min.js"></script>
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="~/FileSaver.js/FileSaver.js"></script>
    <script src="~/js/shared/shared.module.js"></script>
    <script src="~/js/shared/promise.service.js"></script>
    <script src="~/js/shared/noDecimals.directive.js"></script>
    <script src="~/js/shared/sweetAlert.service.js"></script>
    <script src="~/js/shared/fileSaver.service.js"></script>
    <script src="~/js/shared/inchesToFeet.filter.js"></script>
    <script src="~/js/shared/collapsableList.directive.js"></script>
    <script src="~/js/shared/event.service.js"></script>
    <script src="~/js/shared/eventLog.directive.js"></script>
    @RenderSection("Scripts", false)

    <link rel="stylesheet" type="text/css" href="~/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert.css">
    @RenderSection("Styles", false)

    <link rel="shortcut icon" href="https://theonlysheet.com/community/images/smilies/d20.png">
</head>
<body class="full-body">
    <div @RenderSection("ngApp", false)>
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQWX6W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NQWX6W');
        </script>
        <!-- End Google Tag Manager -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">DnDGen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="~/Roll">RollGen</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Treasure">TreasureGen</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Character">CharacterGen</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Encounter">EncounterGen</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Dungeon">DungeonGen</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">GitHub <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-dark" role="menu">
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen">The DnDGen Project</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/RollGen">RollGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/TreasureGen">TreasureGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/CharacterGen">CharacterGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/EncounterGen">EncounterGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/DungeonGen">DungeonGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://github.com/DnDGen/DnDGen.Web">This Site</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">API <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-dark" role="menu">
                                <li><a class="dropdown-item" target="_blank" href="https://roll.dndgen.com/api/swagger/ui">RollGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://treasure.dndgen.com/api/swagger/ui">TreasureGen</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://character.dndgen.com/api/swagger/ui">CharacterGen</a></li>
                            </ul>
                        </li>
                        <li class="nav-item padding-right">
                            <a class="nav-link" target="_blank" href="http://dnd.wizards.com/">Official D&D Site</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="body-content container">
            @RenderBody()
        </div>
    </div>
</body>
@RenderSection("PostBodyScripts", false)
</html>